@font-face {
    font-family: Roboto-Flex;
    src: url("../fonts/RobotoFlex-Regular.ttf");
}

@font-face {
    font-family: Din;
    src: url("../fonts/DIN.ttf");
}

@font-face {
    font-family: Din-Black;
    src: url("../fonts/DIN\ Black.ttf");
}

@font-face {
    font-family: Din-Bold;
    src: url("../fonts/DIN\ Bold.ttf");
}

@font-face {
    font-family: Din-Medium;
    src: url("../fonts/DIN\ Medium.ttf");
}

@font-face {
    font-family: GreyCliff-Regular;
    src: url("../fonts/Fontspring-DEMO-greycliffcf-regular.otf");
}

@font-face {
    font-family: GreyCliff-Medium;
    src: url("../fonts/Fontspring-DEMO-greycliffcf-medium.otf");
}

@font-face {
    font-family: GreyCliff-Light;
    src: url("../fonts/Fontspring-DEMO-greycliffcf-light.otf");
}

@font-face {
    font-family: GreyCliff-Bold;
    src: url("../fonts/Fontspring-DEMO-greycliffcf-bold.otf");
}